.for_mobile {
    display: none;
}

.for_pc {
    display: block;
}

.artist_details {
    padding: 70px 0 0px;
}

.artist_name {
    font-size: 70px;
    line-height: normal;
    font-weight: 700;
    color: #000;
    position: relative;
}

.artist_uname {
    color: #706C6C;
    font-size: 20px;
    font-weight: 700;

}

.artist_img img {
    border-radius: 7px;
}

.share_btn svg {
    height: 17px;
    position: relative;
    top: -2px;
}

.share_btn button {
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none !important;
    background: transparent;
}

.abt_artist {
    margin-top: 20px;
    padding: 40px 0 0;
    border-top: 2px solid #000;
}

.abt_text {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 26px;
    margin: 5px 0 0;
}

.rdate {
    display: inline-block;
    position: relative;
    padding-left: 20px;
}

.rdate::before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    background: #706C6C;
}
.popular_artist {
    padding: 15px 0 50px;
}

.pop_artist_name {
    margin: 8px 0 0;
    text-align: center;
}

.pop_artist_name a {
    text-decoration: none;
    font-size: 18px !important;
    line-height: normal;
    color: #666666 !important;
    font-weight: 500;
}
.slider {
    margin-top: 35px;
    position: relative;
}

.pop_artist_name {
    margin: 8px 0 0;
    text-align: left;
}

.pop_artist_name a {
    text-decoration: none;
    font-size: 16px !important;
    line-height: normal;
    color: #000 !important;
    font-weight: 600;
}
.albm_sitem a,
.albm_sitem {
    font-size: 18px;
    color: #000 !important;
    font-weight: 600;
    text-decoration: none;
}
.album_box{
    margin-top: 40px;
}
.album_songs {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.albm_sitem {
    margin: 0 70px 30px 0;
    display: flex;
    align-items: center;
}
.palb_name{
    margin-left: 20px;
}
.a_slcircle{
    display: inline-block;
    height: 10px;
    width: 10px;
    margin-top: 2px;
    border-radius: 10px;
    background: #AAFF9E;
}
.c_border{
    margin-bottom: 40px;
    border-bottom: 2px solid #000;
}
@media (min-width:200px) and (max-width:768px){
    .for_pc {
        display: none;
    }

    .for_mobile {
        display: block;
    }

    .share_btn button {
        margin-top: 20px;
        font-size: 14px;
    }
    .artist_details {
        padding: 35px 0 0;
    }

    .artist_name {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
    }
    .artist_uname {
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }

    .abt_artist {
        padding: 25px 0 0;
    }

    .abt_text {
        font-size: 14px;
        line-height: 24px;
    }
    .slider {
        margin-top: 25px;
    }

    .sl_item .item_img {
        display: inline-block;
        width: 100px;
        height: 100px;
    }

    .item_name a {
        font-size: 14px !important;
        font-weight: 500;
        line-height: 21px;
    }
    .popular_artist {
        padding: 0px 0 65px;
    }
    .pop_artist_name a {
        font-size: 14px !important;
        line-height: 21px;
    }
    .album_box {
        padding: 25px 0px 20px;
        margin-top: 0px;
    }

    .album_songs {
        margin-top: 15px;
    }

    .albm_sitem {
        margin: 0 30px 20px 0;
        font-size: 16px;
    }

    .albm_sitem a {
        font-size: 16px;
    }
    .c_border{
        margin-bottom: 25px;
    }
}