.for_mobile {
    display: none;
}

.for_pc {
    display: block;
}

.profile_details {
    padding: 70px 0 40px;
}

.profile_name {
    font-size: 70px;
    line-height: normal;
    font-weight: 700;
    color: #000;
    position: relative;
}

.profile_name svg {
    position: absolute;
    top: 5px;
}

.profile_uname {
    color: #706C6C;
    font-size: 20px;
    font-weight: 700;

}

.profile_img img {
    border-radius: 100%;
}

.share_btn svg {
    height: 17px;
    position: relative;
    top: -2px;
}

.share_btn button {
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none !important;
    background: transparent;
}

.abt_profile {
    margin-top: 20px;
    padding: 40px 0 0;
    border-top: 2px solid #000;
}

.abt_text {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 26px;
    margin: 5px 0 0;
}

.edit_profilebtn {
    background: transparent;
    border: none !important;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    outline: none !important;
    margin-left: 20px;
    text-decoration: underline;
}

.stats {
    padding: 0 0 50px;
}

.stat_item {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0 0;
    text-align: center;
}

.sbox {
    border: 2px solid #000;
    border-radius: 20px;
    padding: 10px 0 0;
    margin: 0 15px 0 0;
    width: 125.5px;
}

.statcount {
    font-size: 26px;
    font-weight: 700;
    margin: 5px 0 5px;
}

.stat_name {
    font-size: 12px;
    line-height: 30px;
    margin: 0;
    color: #000;
    border-top: 2px solid #000;
    padding: 0 15px;
}

.cont_items {
    margin: 20px 0;
}

.con_box {
    border: 2px solid #000;
    padding: 12px 15px;
    border-radius: 20px;
    margin: 0 0 25px;
}

.cont_date {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    line-height: 24px;
    padding: 0 5px 5px 5px;
    border-bottom: 2px solid #000;
}

.cont_date svg {
    height: 20px;
    width: 20px;
}

.contnam {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.cont_sa_nam,
.cont_sa_nam a {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    line-height: 26px;
    margin: 0;
    text-decoration: none;
}

.ts_di {
    margin: 0 10px 0 0;
}

.ts_detail {
    display: flex;
    align-items: center;
    margin: 10px 0 0;
}

.ts_in_a {
    padding: 0 0 10px 5px;
    border-bottom: 2px solid #000;
}

.ts_in {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 30px;
    text-decoration: none;
}

.ts_a {
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: #666666;
    margin: 0;
}

.ts2_detail {
    padding: 5px 0 0;
}

.ts_h {
    font-size: 13px;
    font-weight: 400;
    color: #000;
    background: #D9D9D9;
}

.revT {
    margin-left: 10px;
    color: #39045E;
    font-weight: 500;
    font-size: 13px;
    text-decoration: underline;
}

.tshc {
    margin: 10px 0 0;
}

.ts_dec {
    margin: 10px 0 0;
    font-size: 13px;
    font-weight: 300;
    color: #000;
}
.likeCmt{
    
}

@media (min-width:200px) and (max-width:768px) {
    .for_pc {
        display: none;
    }

    .for_mobile {
        display: block;
    }

    .share_btn button {
        margin-top: 20px;
        font-size: 14px;
    }

    .profile_details {
        padding: 35px 0 0;
    }

    .profile_name {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
    }

    .profile_name svg {
        height: 12px;
        width: auto;
        top: 0;
    }

    .profile_uname {
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }

    .profile_uname img {
        height: 15px;
        width: auto;
    }

    .abt_profile {
        padding: 25px 0 0;
    }

    .abt_text {
        font-size: 14px;
        line-height: 24px;
    }

    .stats {
        padding: 30px 0 30px;
    }

    .stat_item {
        justify-content: center;
    }

    .sbox {
        margin: 0 8px 16px;
        border-radius: 10px;
        padding: 5px 0 0;
        width: 100px;
    }

    .stat_icon svg {
        height: 18px;
        width: auto;
    }

    .stat_name {
        font-size: 10px;
        line-height: 24px;
        padding: 0;
    }

    .statcount {
        font-size: 18px;
        line-height: 27px;
        margin: 0;
    }
}