.for_mobile {
    display: none;
}

.for_pc {
    display: block;
}

.artist_details {
    padding: 70px 0 40px;
}

.artist_name {
    font-size: 70px;
    line-height: normal;
    font-weight: 700;
    color: #000;
    position: relative;
}

.artist_name svg {
    position: absolute;
    top: 5px;
}

.artist_uname {
    color: #706C6C;
    font-size: 20px;
    font-weight: 700;

}

.artist_img img {
    border-radius: 100%;
}

.share_btn svg {
    height: 17px;
    position: relative;
    top: -2px;
}

.share_btn button {
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none !important;
    background: transparent;
}

.abt_artist {
    margin-top: 20px;
    padding: 40px 0 0;
    border-top: 2px solid #000;
}

.abt_text {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 26px;
    margin: 5px 0 0;
}

.charts {
    padding: 0 0 40px;
}

.chart_head {
    margin: 35px auto;
    position: relative;
}

.chart_head::after {
    position: absolute;
    content: '';
    height: 1px;
    left: 0px;
    right: 0px;
    background: #000;
    bottom: -10px;
}

.chart_head p {
    color: #666666;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    margin: 0 0 10px;
}

.chs_name {
    display: flex;
    align-items: center;
}

.chart_sl {
    color: #666666;
    font-size: 16px;
    line-height: normal;
    font-weight: 400;
    margin: 0;
}

.chart_slcircle {
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-top: 5px;
    border-radius: 12px;
    background: #AAFF9E;
}

.chart_img {
    margin: 0 30px;
}

.charts_name {
    display: inline-block;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin-right: 10px;
}

.chart_content {
    margin-bottom: 30px;
}

.ch_artist {
    color: #666666;
    font-size: 14px;
    line-height: normal;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.load_more_btn {
    background: transparent;
    border: 2px solid #000;
    border-radius: 50px;
    outline: none !important;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 8px 35px;
}

.popular_album {
    padding: 0px;
}

.popular_album_list {
    margin: 40px 0 20px;
}

.sl_item {
    margin: 0 0 20px;
}

.item_name {
    margin: 8px 0 0;
}

.item_name a {
    text-decoration: none;
    font-size: 16px !important;
    line-height: normal;
    color: #000 !important;
    font-weight: 600;
}

.popular_artist {
    padding: 50px 0;
}

.slider {
    margin-top: 35px;
    position: relative;
}

.pop_artist_name {
    margin: 8px 0 0;
    text-align: center;
}

.pop_artist_name a {
    text-decoration: none;
    font-size: 18px !important;
    line-height: normal;
    color: #666666 !important;
    font-weight: 500;
}

@media (min-width:200px) and (max-width:768px) {
    .for_pc {
        display: none;
    }

    .for_mobile {
        display: block;
    }

    .share_btn button {
        margin-top: 20px;
        font-size: 14px;
    }

    .chart_img {
        margin: 0 15px;
    }

    .chart_img img {
        height: 30px;
        width: 30px;
    }

    .chart_slcircle {
        display: inline-block;
        height: 8px;
        width: 8px;
        margin-top: 2px;
        border-radius: 8px;
        background: #AAFF9E;
    }

    .charts_name {
        display: inline-block;
        color: #000;
        font-weight: 700;
        font-size: 16px;
        margin-right: 8px;
    }

    .load_more_btn {
        font-size: 16px;
        padding: 6px 20px;
    }

    .charts {
        padding: 25px 0 10px;
    }

    .chart_head {
        display: none;
    }

    .chart_head::after {
        bottom: -5px;
    }

    .chart_head p {
        font-size: 14px;
        margin: 0 0 5px;
    }

    .chs_name {
        display: flex;
        align-items: center;
    }

    .chart_content {
        border: 1px solid #666666;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 0;
    }

    .ch_artist {
        font-size: 12px;
        margin-top: 10px;
        text-align: left;
    }

    .chart_img {
        margin: 0 10px;
    }

    .charts_name {
        font-weight: 600;
        font-size: 14px;
        margin-right: 10px;
    }

    .chart_sl {
        font-size: 14px;
    }

    .slider {
        margin-top: 25px;
    }

    .sl_item .item_img {
        display: inline-block;
        width: 100px;
        height: 100px;
    }

    .item_name a {
        font-size: 14px !important;
        font-weight: 500;
        line-height: 21px;
    }

    .pop_artist_name a {
        font-size: 14px !important;
        line-height: 21px;
    }

    .popular_album {
        margin: 25px 0 10px;
    }

    .artist_details {
        padding: 35px 0 0;
    }

    .artist_name {
        font-size: 24px;
        font-weight: 600;
        margin: 0;
    }

    .artist_name svg {
        height: 12px;
        width: auto;
        top: 0;
    }

    .artist_uname {
        font-size: 12px;
        font-weight: 600;
        margin: 0;
    }

    .artist_uname img {
        height: 15px;
        width: auto;
    }

    .abt_artist {
        padding: 25px 0 0;
    }

    .abt_text {
        font-size: 14px;
        line-height: 24px;
    }

    .popular_album_list {
        margin: 30px 0 10px;
    }

    .popular_artist {
        padding: 25px 0 65px;
    }
}